{% extends "layout.html" %}

{% block title %}Speel een ronde{% endblock %}

{% block content %}
  <div>
    <h1>Code</h1>
    {% for code in game.solutionColors %}
      <span>{{ code }}</span>
    {% endfor %}
  </div>
  <div>
    <h1>Gegeven antwoorden</h1>
    {% for answers in game.playerAnswers %}
      {% for answer in answers %}
        {% if answer.isCorrect == True %}
          <span class="correct-answer">{{ answer.answer }}</span>
        {% elif answer.inSolution == True %}
          <span class="in-solution-answer">{{ answer.answer }}</span>
        {% else %}
          <span class="wrong-answer">{{ answer.answer }}</span>
        {% endif %}
      {% endfor %}
      <br>
    {% endfor %}
  </div>
  <form method="post" class="form" action="game-post">
    <h1>Geef antwoord</h1>
    <div class="form-group row">
      {% for x in range(0, game.amountOfPositions) %}
      <input type="number" name="color[]" class="form-control col" min="1" max="10" required>
      {% endfor %}
    </div>
    <input type="submit" name="Show it" class="btn btn-primary">
  </form>

{% endblock %}
